* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-heading-color: rgba(0, 0, 0, 0.7);
    --main-text-color: rgba(0, 0, 0, 0.6);
    --main-border-color: rgba(169, 169, 169, 0.314);
    --main-border-radius: .2rem;
    --main-box-shadow: .5px .5px .1rem .03rem rgba(189, 189, 189, 0.251);
}

body {
    background-color: rgb(246, 246, 246);
}



/* styles for nav */
.nav {
    width: 65vw;
    height: 10vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.nav h1, h1 {
    font: 700 xx-large arial;
    color: var(--main-heading-color);
    cursor: pointer;
}

.links {
    width: 60%;
    height: 100%;
    padding-top: 1.5rem;
}

.links a:nth-child(1) {
    margin-left: 12.2rem;
}

.links a {
    margin: 0 0.7rem;
    font: 600 larger arial;
    text-decoration: none;
    color: var(--main-text-color);
}

.links a:hover, .nav h1:hover {
    animation-name: textHover;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}


@keyframes textHover {
    from {
        color: var(--main-text-color);
    }

    to {
        color: orangered;
    }
}


/* styles for homeform */

.homeform {
    width: 55vw;
    height: 35vh;
    margin: .7rem auto;
    border: .04rem solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
}

.homeform h1 {
    margin: 1.5rem;
    text-align: center;
    font: 500 xx-large arial;
}

#file {
    display: none;
}

form {
    width: 100%;
    height: 70%;
}

.input-label {
    width: 100%;
    height: 30%;
    position: relative;
}

.input-label input{
    width: 40%;
    height: 80%;
    padding: 1rem;
    outline: none;
    margin-left: 16.5vw;
    border-radius: var(--main-border-radius);
    border: .05rem solid grey;
}

#pass-input{
    position: absolute;
    font: 300 medium arial;
    left: 18vw;
    top: -1.2vh;
    background-color: whitesmoke;
    /* display: none; */
}